body {
  background-image: url("background.jpeg");
}

h1 {
  text-align: center;
  font-style: normal;
  color: cyan;
}

.nav {
  background-color: cyan;
  border: 1px solid cyan;
  float: left;
  min-height: 180px;
  margin: 2px;
  padding: 10px;
  min-width: 117px;
  position: relative;
}

/*.nav {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  width: 10vw;
  height: 100vh;
  background-color: cyan;
  text-align: center;
}
*/
div:hover {
  color: darkgreen;
  background-color: darkgrey;
}
