* {
  color: black;
}

h1 {
  color: rgb(0, 255, 200);
}

p {
  color: magenta;
}

#para {
  text-align: center;
  color: cyan;
}

.center {
  text-align: center;
  color: rgb(rgb(83, 0, 0), green, blue);
}
